.features {
  position: relative;
  padding: 58px 0 65px;
  @media (max-width: 991px){
    padding: 22px 0 37px;
  }
  @media (max-width: 575px){
    padding: 24px 0 22px;
  }
  &::after{
    content: '';
    width: 737px;
    height: 737px;
    position: absolute;
    top: 0;
    left: -40%;
    border-radius: 100%;
    // background: linear-gradient(157.85deg, #A061FF 3.03%, #350089 95.07%);
    opacity: 0.4;
    filter: blur(200px);
  }
  &__container {
    position: relative;
    z-index: 1;
  }
  &__title {
    text-align: center;
    margin-bottom: 32px;
    @media (max-width: 991px){
      text-align: left;
      margin-bottom: 33px;
    }
    @media (max-width: 575px){
      margin-bottom: 35px;
    }
  }

  &__items {
    display: flex;
    margin-bottom: 40px;
    @media (max-width: 991px){
      margin-bottom: 8px;
    }
    @media (max-width: 575px){
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  &__items-col {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    @media (max-width: 767px){
      width: 50%;
    }
    @media (max-width: 575px){
      width: 100%;
    }
  }
  &__items-col-1 {
    width: 63%;
    @media (max-width: 991px){
      width: 55%;
    }
  }
  &__items-col-2 {
    width: 37%;
    @media (max-width: 991px) {
      width: 45%;
    }
  }

  &__item {
    position: relative;
    padding-left: 60px;
    font-size: 24px;
    line-height: 1.1;
    list-style: none;
    margin-bottom: 23px;
    @media (max-width: 991px){
      font-size: 20px;
      padding-right: 10px;
      min-height: 49px;
    }
    @media (max-width: 767px){
      font-size: 18px;
    }
    @media (max-width: 575px){
      font-size: 19px;
      margin-bottom: 0;
      padding-right: 20px;
    }
    @media (max-width: 374px){
      min-height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 16px;
      padding-left: 50px;

    }
    &::before{
      content: url(../../../images/dist/check.svg);
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 374px){
        top: calc(50% - 16px)
      }
    }
  }
  &__button {
    margin: 0 auto;
  }
}